<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar Servicio</h5>
      </div>
      <div class="modal-body">
        <form>

            <div class="row">
                <div class="form-group col-6">
                    <label for="subcategoria">Ficha</label>
                    <select name="subcategoria" class="form-select" id="subcategoria" [(ngModel)]="ficha"> 
                        <option *ngFor="let ficha of fichas" [ngValue]="ficha">{{ficha.descripcion}}</option>
                    </select>
                </div>
                
            </div>

            <div class="form-group">
                <label for= "observacion">Observaciones</label>
                <textarea type="text" class="form-control" id="observacion" name="observacion" [(ngModel)]="ficha.observacion"></textarea>
            </div>
        </form>    
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" (click)="guardarServicio()">Guardar</button>
    </div>
    </div>
</div>
