<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Nueva Ficha</button>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of columns" >{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of data | paginate: config">
      <td>{{group.fechaHora.split(" ")[0]}}</td>
      <td>{{group.idEmpleado.nombre + " " + group.idEmpleado.apellido }}</td>
      <td>{{group.idCliente.nombre + " " + group.idCliente.apellido }}</td>
      <td>{{group.idTipoProducto.idCategoria.descripcion}}</td>
      <td>{{group.idTipoProducto.descripcion}}</td>
      <td><button class="btn  btn-outline-success">Crear Servicio</button></td>
    </tr>
  </tbody>
</table>
</div>
<pagination-controls 
  [previousLabel]="back"
  [nextLabel]="next"
  (pageChange)="pageChanged($event)">
</pagination-controls>

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-nuevaficha></app-nuevaficha>  
<div>
